@media screen and (max-width: 1300px)
    .login-select-box
        a
            font-size: 24px
            width: 220px
            margin: 0 1% 20px
            padding: 38px 10px 20px
        p
            margin: 10px 0
            a
                height: auto
                margin: 0 auto
                padding: 0
@media screen and (max-width: 1024px)
    .login-select-box
        width: 500px
        h2
            margin: 0 0 30px
        a
            width: 200px
            height: 150px
            font-size: 20px
            margin: 30px 2%
        span
            font-size: 12px
            letter-spacing: 0
    .system-name
        font-size: 16px
    .sub-system
        a
            font-size: 14px
            padding: 0 5px
    .user-info
        padding: 0 5px 0 0
    .user-id
        font-size: 14px
    .user-setting
        font-size: 14px
@media screen and (max-width: 1023px)
    .m-top-menu
        display: inline-block
        cursor: pointer
        i
            font-size: 16px
            color: #a5d9ff
    .sub-system
        width: 100%
        position: fixed
        top: 40px
        left: 0
        background: #0f2e54
        display: none
    .nav
        padding: 0
    .side-nav
        width: 100%
        height: 41px
        overflow: hidden
        position: fixed
        top: 40px
        left: 0
        z-index: 1
    .sidebar-switch
        width: 100%
    .side-box
        width: 100%
        height: auto
    
    .side-footer
        width: 100%
        padding: 0 20px
        position: static
        margin: 15px auto 0
        display: flex
        justify-content: space-between
        align-items: center
    .login-date
        margin: 0

    .nav
        a
            text-align: center
    .nav-sub-item
        text-align: center
    .btn-side-open
        display: none
        p
            display: none
    .btn-side-close
        p
            display: none
    .main
        height: calc( 100% - 81px )
        margin: 81px 0 0
        padding: 0 20px
        h1
            font-size: 18px
            padding: 10px 0
            background: url(../img/backend_img/title_line.png) 0 37px repeat-x
        h2
            font-size: 16px
            padding: 15px 0 10px 0
    .sub-page
        height: auto
        overflow-x: auto
        ul
            width: 760px
    .sub-menu
        margin: -10px 0 15px 0
    //list
    .list
        overflow-x: auto
        -webkit-overflow-scrolling: touch
        li
            min-width: 760px
    .input-box
        width: 100%
        margin: 0 0 15px 0
        label
            font-size: 14px
        span
            font-size: 14px
    
    .tag-src-area
        margin: 0 0 10px
        align-items: flex-start
    .btn
        margin: 0 5px 10px 0
    .btn-area
        .btn-submit
            margin: 0
            padding: 6px 10px
    .w150
        width: 100px
    .w200
        width: 100px
    .w250
        width: 100px

    .data-box
        width: 100%
    .table-group
        font-size: 14px
        overflow-x: auto
    .err-notic-box
        width: 80%
        padding: 9px 11px
        h2
            font-size: 16px
        p
            font-size: 14px
    .map-notic-close
        top: 2px
        right: 10px
    .map-box
        height: calc( 100% - 80px )
        margin: 80px 0 0
@media screen and (max-height: 850px)
    .btn-side-up-dow
        display: block

@media screen and (max-width: 480px)
    .top-menu
        img
            width: 30px
            margin: 0 0 0 5px
    .system-name
        font-size: 15px
        padding: 0 3px 0 0
    .user-id
        line-height: 1
        padding: 0 5px 0 0
        margin: 0
        vertical-align: bottom
    .user-setting
        line-height: 1
        a
            margin: 0 5px 0 0
    .page-logo
        width: 130px
        top: 10px
        left: 10px
    .login-page-bg
        &::after
            width: calc(97% - 160px)
            left: 154px
        &:before
            display: none
    .loain-box
        width: 90%
        margin: 0
        top: 15%
        left: 5%
    .login
        width: 100%
    .logo
        left: 50%
        transform: translateX(-80px)

    .login-select-box
        width: 90%
        img
            height: 30px
        a
            font-size: 16px
            width: 46%
            height: 130px
            padding: 36px 5px 20px
            &:nth-of-type(2)
                padding: 25px 5px 20px
        span
            font-size: 10px
    .pagination
        margin: 20px auto
    .pagination-numbers
        a
            padding: 4px 9px
            margin: 0px 3px
    .side-box
        height: 100%
    .nav-box
        height: calc( 100% - 126px)
@media screen and (max-width: 375px)
    .login-select-box
        span
            font-size: 10px
            text-align: center
            width: 100%
            top: -39px
            br
                display: block