/* (@)whitenight.tw by truesun */
@import reset
@import mixins
@import color

//全域樣式
html, body
    color: #555
    font-size: 14px
    +fontSty
input,textarea,select
    +fontSty
    -webkit-appearance: none
    border-radius: 0
input[type="radio"],input[type="checkbox"]
    width: 1px
    height: 1px
    opacity: 0
    display: none
input[type="radio"]:checked + .radio-box::after
    content: ""
    width: 6px
    height: 6px
    border-radius: 30px
    display: block
    background: $btn

input[type="checkbox"]:checked + .check-box::after
    content: "\f00c"
    font-family: "Font Awesome 5 Pro"
    color: $btn
    font-weight: 900
    font-size: 14px
    margin: 0 0 0 2px
    display: block
    font-style: normal
    font-variant: normal
    text-rendering: auto
    line-height: 1
    transform: translate(0, 0)
@font-face 
    font-family: nunitoSans
    src: url(../webfonts/NunitoSans-Bold.ttf)
@font-face 
    font-family: nunitoSansBold
    src: url(../webfonts/NunitoSans-SemiBold.ttf)

.clearfix::after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
.clearfix
    display: inline-block
html[xmlns] .clearfix
    display: block
* html .clearfix
    height: 1%

//lightbox 基礎組件
.mask
    width: 100%
    height: 100%
    background: rgba(0,0,0,.7)
    +topLeft(0,0,99)
.lg-box
    box-shadow: 0 0 50px #111
    border-radius: 5px
    position: absolute
    top: 15%
    left: 50%
    z-index: 100
.lg-tit
    color: $white
    font-size: 16px
    letter-spacing: 1px
    background: $main-color
    padding: 10px 8px
    border-bottom: 2px solid #11577d
.lg-cont
    background: $white
    padding: 15px
    overflow: auto
    h2
        font-size: 18px
        color: $h2-color
        padding: 20px 0 10px 0
        text-shadow: 0 1px 0 $white
    h3
        font-size: 16px
        color: $h2-color
        padding: 10px 0
        text-shadow: 0 1px 0 $white

.lg-bot
    text-align: center
    background: #e5e5e5
    padding: 8px
    border-top: 1px solid #ccc
    .btn
        margin: 0 5px
        position: relative
        input
            display: block
            width: 100%
            position: absolute
            margin: 0
            border: none
            top: 0
            left: 0
            right: 0
            bottom: 0
            opacity: 0
            direction: ltr
            cursor: pointer
            z-index: 2
//純訊息
//視使用需求增加.lg-mesg-box的寬度，或另外新增class name
.lg-mesg-box
    width: 400px
    margin: 0 0 0 -200px
.lg-big-box
    width: 800px
    margin: 0 0 0 -400px
.lg-full-box
    width: 90%
    box-shadow: 0 0 50px #111
    border-radius: 5px
    position: absolute
    top: 15%
    left: 5%
    z-index: 100
    
//此為配合.lg-big-box新增的class name 固定最大高度後，超出最大高度給予捲軸使用
.lg-add
    max-height: 300px
    overflow: y-scroll

//表單樣式
.input-sty
    color: $input-txt
    font-size: 14px
    width: 100%
    background: #eee
    padding: 5px 10px
    border: 1px solid #d0d0d0
    border-radius: 2px
    box-sizing: border-box
    display: inline-block
    outline : 0
    transition: background .4s,box-shadow .4s
    vertical-align: middle
    &:focus
        background: $white
        box-shadow: 0 0 3px #ccc

.select-sty
    color: $input-txt
    font-size: 14px
    width: 100%
    height: 32px
    background: #f7f7f7
    padding: 0 0 0 8px
    background: #eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%
    border: 1px solid #d0d0d0
    border-radius: 2px
    display: inline-block
    outline : 0
    transition: background .4s,box-shadow .4s
    vertical-align: middle
    &:focus
        background: $white url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%
        box-shadow: 0 0 3px #ccc

.radio-box
    width: 14px
    height: 14px
    padding: 2px
    border: 2px solid #177C8F
    border-radius: 30px
    box-sizing: border-box
    display: inline-block
    vertical-align: middle
    margin: 0 3px 0 0
.check-box
    width: 19px
    height: 19px
    border: 2px solid $btn
    box-sizing: border-box
    display: inline-block
    vertical-align: middle
    margin: 0 3px 0 0

//共用樣式
.txt-c
    text-align: center
.txt-r
    text-align: right
.imp
    color: $fn-bg
.cle
    clear: both
.error
    border: 1px solid #d2664f
.note
    padding: 0 5px 10px 0
    color: #999
.cou-poi
    cursor: pointer
.icon-right
    position: relative
    i
        font-size: 20px
        position: absolute
        right: 10px
        bottom: 6px
        z-index: 1
//複選框組件
.check-list
    margin: 0
    label
        padding: 6px 10px 6px 3px
        cursor: pointer
        border-radius: 3px
        margin: 0 10px 0 0
        transition: .2s
        &:hover
            background: #eee
    label.error
        color: $white
        border-radius: 2px
        background: #d2664f
        line-height: 16px
        margin: 0
        display: inline-block
    span
        vertical-align: middle
//跑馬燈
.marquee-box
    overflow: hidden
    width: 100%
    height: 30px
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    ul
        width: 100%
        height: 30px
        position: relative
    li
        height: 30px
        line-height: 30px
        text-overflow: ellipsis
        white-space: nowrap
        position: absolute
        top: -999em
        left: 0
    a
        color: $main-color
        display: block
        overflow: hidden
        height: 30px
        line-height: 30px
        text-decoration: none
        text-overflow: ellipsis
        white-space: nowrap
        &:hover
            text-decoration: underline
        
    i
        color: #f00
        margin: 0 0 0 5px

/*Login page*/
//首頁登入頁
.login-page-mask
    width: 100%
    height: 100%
    position: absolute
    background: url(../img/backend_img/pic_mask.png)
    z-index: 1
.video-full-box
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    opacity: 0.8
.video-full-bg
    object-fit: cover
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
.login-page-bg
    width: 100%
    height: 100%
    position: relative
    z-index: 2
    background: #1d587d url(../img/backend_img/bg.jpg) no-repeat center bottom/cover
    // &:after
    //     content: ""
    //     width: calc(97% - 200px)
    //     height: 1px
    //     background: rgba(255,255,255,0.3)
    //     position: absolute
    //     top: 30px
    //     left: 213px
    // &:before
    //     content: ""
    //     width: 1px
    //     height: calc(100% - 110px)
    //     background: rgba(255,255,255,0.3)
    //     position: absolute
    //     top: 70px
    //     left: 36px
.loain-box
    width: 500px
    margin: 0 0 0 -250px
    position: absolute
    top: 20%
    left: 50%
.logo
    +wh(129,82)
    background: url(../img/backend_img/backend_logo.svg) no-repeat center center/cover
    position: absolute
    top: -33px
    left: 50%
    z-index: 1
    transform: translateX(-50%)
.login
    width: 500px
    text-align: center
    padding: 20px 30px
    box-sizing: border-box
    border-radius: 5px
    background-color: rgb(8 143 109 / 70%)
    h1
        margin: 35px 15px 0
        color: $white
        font-size: 16px
    .input-box
        width: 100%
        margin: 20px auto
        position: relative
        display: block
        i
            font-size: 22px
            color: #02A18B
            position: absolute
            top: 9px
            right: 15px
            z-index: 1
    label
        padding: 8px 12px
        border: none
        display: block
        position: absolute
        top: 3px
        right: 7px
        z-index: 1
        border: 1px solid #d2664f
        background: #d2664f
        border-radius: 3px 
        input[class~=input-sty]
            font-size: 18px
            padding: 10px 10px 10px 45px
            z-index: 2
    label.error
        color: $white
        margin: 1px 0 0
    .input-sty
        padding: 10px

.login-error-mesg
    color: #f00
    padding: 0 25px
.login-footer
    color: $white
    text-align: center
.login-btn-box
    text-align: center
    margin: 20px auto
.login-submit-btn
    font-size: 18px
    color: $btn-text
    text-shadow: 0 1px 1px #000
    background: $btnLight
    width: 100%
    // box-shadow: 0 0 3px #90D0F2 inset,0 0 5px rgba(0,0,0,1)
    padding: 12px 0
    border: 0
    border-radius: 5px
    cursor: pointer
    outline: none
    transition: background .2s
    &:hover
        background: #18616a
//登入後選擇項目
.page-logo
    width: 170px
    position: fixed
    top: 20px
    left: 20px
    z-index: 3

.login-select-box
    width: 100%
    min-width: 1200px
    height: 100%
    position: relative
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-content: center
    h2
        color: #fff
        text-align: center
        font-size: 20px
        font-weight: bold
        text-shadow: 0 0 10px #000
        letter-spacing: 1px
        width: 100%
        margin: 0 0 30px
    >a
        color: #fff
        text-align: center
        font-size: 26px
        font-weight: bold
        text-shadow: 0 0 10px #000
        letter-spacing: 1px
        width: 250px
        height: 170px
        display: block
        margin: 0 2% 20px
        align-items: center
        background: rgba(46,195,140,0.3)
        border: 1px solid #2ec38c
        border-radius: 10px
        padding: 38px 20px 20px
        box-sizing: border-box
        box-shadow: 0 0 10px rgba(46,195,140,1),0 0 10px rgba(46,195,140,1) inset
        transition: .4s
        &:hover
            transform: scale(1.1)
            background: rgba(46,195,140,0.6)
            box-shadow: 0 0 40px rgba(46,195,140,1),0 0 10px rgba(46,195,140,1) inset
    >a:nth-of-type(2)
        padding: 20px
    i
        font-size: 48px
        color: #00ffae
        display: block
        margin: 0 auto 10px
    p
        text-align: center
        width: 100%
        margin: 10px 0 80px
        a
            font-size: 16px
            color: #fff
            transition: .4s
            display: inline-block
            &:hover
                color: #2ec38c
                transform: scale(1.1)
                text-shadow: 0 0 20px rgba(46,195,140,1)
        i
            font-size: 16px
            display: inline-block
            
            

//右邊欄、主內容 Layout
body
    width: 100%
    min-width: 1200px
    height: 100%
    overflow: hidden
    //url(../img/backend_img/body_bg.png)
.main
    height: 100%
    padding: 40px 20px 0 30px
    overflow: auto
    background: $white url(../img/backend_img/main_bg.png)
    box-sizing: border-box
    h1
        font-size: 24px
        color: $h1-color
        padding: 15px 0 20px 0
        background: url(../img/backend_img/title_line.png) 0 53px repeat-x
    h2
        font-size: 18px
        color: $h2-color
        padding: 20px 0 10px 0
        text-shadow: 0 1px 0 $white
    h3
        font-size: 16px
        color: $h2-color
        padding: 10px 0
        text-shadow: 0 1px 0 $white

//top menu 頂級網域連結
.top-menu
    width: 100%
    min-width: 1280px
    height: 40px
    background: #003B83
    position: fixed
    top: 0
    left: 0
    z-index: 10
    img
        margin: 0 0 0 10px
        position: relative
        top: 3px

        
.system-name
    font-size: 20px
    color: #fff
    display: inline-block
    padding: 0 10px 0 0
    line-height: 40px
.sub-system
    font-size: 16px
    display: inline-block
    a
        color: #a5d9ff
        display: inline-block
        padding: 0 10px
        line-height: 40px
        transition: .3s
        &:hover
            color: #fff


//導航列側邊欄
.sidebar-switch
    font-size: 14px
    color: #fff
    line-height: 40px
    width: 180px
    padding: 0 0 0 10px
    position: relative
    border-bottom: 1px solid rgba(255,255,255,0.2)
    box-sizing: border-box
.side-nav
    width: 180px
    height: 100%
    padding: 40px 0 0
    float: left
    overflow: hidden
    position: relative
    background: $main-color
    box-sizing: border-box
.side-box
    width: 180px
    height: 100%
.btn-side-close
    color: $white
    font-size: 16px
    width: 26px
    height: 23px
    line-height: 1
    background: $main-color
    box-sizing: border-box
    padding: 0 0 0 6px
    cursor: pointer
    position: absolute
    top: 12px
    right: 12px
    z-index: 1
    &:hover p
        height: 68px
    p
        color: $white
        font-size: 13px
        text-align: center
        line-height: 1.3
        letter-spacing: 2px
        width: 100%
        height: 0
        box-sizing: border-box
        overflow: hidden
        background: #222
        position: absolute
        top: 28px
        left: 0
        transition: .3s


.btn-side-open
    color: $white
    font-size: 16px
    width: 26px
    height: 23px
    background: $main-color
    line-height: 1
    box-sizing: border-box
    padding: 3px 0 0 6px
    cursor: pointer
    position: absolute
    top: 40px
    left: -40px
    z-index: 2
    &:hover p
        height: 68px
    p
        color: $white
        font-size: 13px
        text-align: center
        line-height: 1.3
        width: 100%
        height: 0
        overflow: hidden
        box-sizing: border-box
        background: #222
        padding: 0 2px
        position: absolute
        top: 23px
        left: 0
        transition: .3s
        
.side-logo
    +wh(160,90)
    margin: 10px auto
    background: url(../img/backend_img/backend_logo.png) no-repeat center/cover
.side-footer
    font-size: 12px
    text-align: center
    color: #63a8d8
    width: 180px
    line-height: 45px
    box-sizing: border-box
    position: absolute
    bottom: 0
    left: 0
    z-index: 2
.backend-tit
    text-align: right
    color: $white
    font-size: 12px
    padding: 5px
.user-info
    color: #eee
    width: 144px
    padding: 8px 0
    margin: 0 8px
    border-bottom: 1px solid #eee
    display: flex
    justify-content: space-between
    align-items: center
    opacity: 1
    transition: .3s
// 不用
// .sign-out-box
//     padding: 10px
//     border-top: 1px solid lighten($main-color,5%)
.user-setting
    font-size: 16px
    a
        color: #fff
        margin: 0 5px 0 0
        transition: .2s
        &:hover
            color: #fff

// .sign-out
//     color: $white
//     box-shadow: 0 1px 0 darken($main-color,10%)
//     padding: 5px 8px
//     border-radius: 3px
//     background: darken($main-color,10%)
//     transition: .2s
//     &:hover
//         background: darken($main-color,20%)

.nav-box
    overflow-y: auto
.nav
    padding: 0
    a
        font-size: 14px
        color: $white
        padding: 12px 10px 11px 10px
        margin: 0
        border-bottom: 1px solid rgba(255,255,255,0.2)
        display: block
        //border-radius: 2px
        transition: background .2s
        &:hover
            color: $white
            background: darken($main-color,10% )
        &.act
            color: $white
            background: darken($main-color,10% )
            text-shadow: 0 0 12px #39B7FC
            //border-top: 1px solid #777
            //box-shadow: 0 0 7px 1px #000
    i
        margin: 0 3px 0 0
.nav-item
    font-size: 14px
    color: $white
    margin: 0
    border-bottom: 1px solid rgba(255,255,255,0.2)
    display: block
    transition: background .2s
    cursor: pointer
    &:hover
        color: $white
        background: darken($main-color,10% )
    .act
        color: $white
        background: darken($main-color,10% )
        text-shadow: 0 0 12px #39B7FC
        //border-top: 1px solid #777
        //box-shadow: 0 0 7px 1px #000
.nav-sub-item
    padding: 12px 10px 11px 10px
.sub-nav
    overflow: hidden
    display: none
    a
        padding: 12px 10px 11px 35px
        background: darken($main-color,16%)
        &:hover
            background: darken($main-color,20%)
        &:before
            content: "-"
            margin: 0 7px 0 0

//次選單樣式
.sub-menu
    margin: -10px 0 20px 0
    background: #063165
    overflow: hidden
    li
        float: left
    a
        color: $white
        padding: 10px 17px
        display: block
        transition: .2s
    a.act,a:hover
        color: $white
        background: #0071BE

.sub-page
    height: 31px
    margin: 10px 0 20px 0
    border-bottom: 1px solid $main-color
    li
        height: 30px
        line-height: 30px
        padding: 0 14px
        display: block
        border-radius: 5px 5px 0 0
        transition: .2s
        float: left
        margin: 0 0 0 10px
        cursor: pointer
        &:hover
            background: #eee
    li.act
        color: $main-color
        border: 1px solid $main-color
        border-bottom: 1px solid #F9F9F9
        &:hover
            background: #F9F9F9
	
//麵包削
.breadcrumb
    margin: 10px 0
    background-color: #ECECEC
    border-radius: 4px
    li
        display: inline-block
    a
        color: #337ab7
        text-decoration: none
        padding: 8px 10px
        display: inline-block
        transition: .2s
        &:hover
            background: #ddd
    span
        padding: 8px 10px
    a.active
        color: #777
    &:focus
        background: $white
        box-shadow: 0 0 3px #ccc

.breadcrumb > li + li:before
    padding: 0 0
    color: #ccc
    content: "/\00a0"
//組件基礎
.input-box
    width: 44%
    margin: 0 5% 20px 0
    display: inline-block
    vertical-align: top
    p
        font-size: 15px
    label
        font-size: 16px
        color: $main-color
        font-weight: bold
        margin: 5px 5px 10px 0
        display: block
    .check-list label //為了改掉.check-list的label吃到上面的樣式，所以要覆寫
        font-weight: normal
        margin: 0
        +dv
    label.error
        color: $white
        font-weight: normal
        padding: 5px 8px
        border-radius: 2px
        background: #d2664f
        display: inline-block
    span
        font-size: 16px
        color: #555
        vertical-align: middle

//2欄式組件
.input-box-w
    width: 93.5%
.input-box-100
    width: 100%
    margin: 0 0 20px

.more-info
    height: 400px
.desc-info
    height: 150px
.w50
    width: 50px
.w100
    width: 100px
.w150
    width: 150px
.w200
    width: 200px
.w250
    width: 250px

//表格
.table
    width: 100%
    border-left: 1px solid #ccc
    border-top: 1px solid #ccc
    margin: 0 0 15px 0
    th
        background: #eee
    th,td
        text-align: center
        border-right: 1px solid #ccc
        border-bottom: 1px solid #ccc
        padding: 1%
    a
        color: $main-color

.table-group
    font-size: 16px
    width: 100%
.calendar-sty
    min-width: 1100px
    th,td
        text-align: left
        vertical-align: top
        padding: 10px 5px
    a
        //border-bottom: 1px dashed #000
        font-size: 14px
        padding: 3px
        line-height: 1.8
        border-radius: 5px
        transition: .3s
        display: block
        &:hover
            background: #eee
        br
            margin: 0 0 10px
            display: block
    p
        color: $white
        text-align: center
        margin: 0 auto
        border-radius: 50px
        padding: 3px 10px
        margin: 0 0 3px
        background: $sub-b
/*tag style*/
.tag
    display: inline-block
    overflow: hidden
    li
        border: 1px solid #ddd
        margin: 0 8px 8px 0
        float: left
        border-radius: 3px
        cursor: pointer
        transition: .2s
        &:hover
            border: 1px solid $btn
	
.tag-add
    font-size: 18px
    color: $white
    background: $btn
    line-height: 30px
    padding: 0 8px
    &:hover
        background: darken($btn,10%)

.tag-name
    line-height: 30px
    padding: 0 8px
    float: left
//標籤輸入的
.tag-name-input
    border: none
    border-radius: 0
    float: left
    display: block
    input.input-sty
        width: 120px
        padding: 5px 8px
        border: none

.tag-del
    font-size: 18px
    background: #ddd
    padding: 0 8px
    line-height: 30px
    float: left
    display: block
    transition: .2s
    &:hover
        background: #ccc

.tag-creat
    display: none
.tag-check
    font-size: 18px
    color: $white
    background: $main-color
    padding: 0 15px
    line-height: 30px
    float: left
    display: block
    transition: .2s
    position: relative
    &:hover
        background: darken($main-color,10%)
    input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 1
        opacity: 0
        cursor: pointer

//標籤開啟light
.tag-lg-box
    background: $white
    box-shadow: 0 0 20px #999
    border-radius: 5px
    width: 280px
    padding: 15px
    margin: -145px 0 0 -140px
    .input-sty
        width: 96%
        font-size: 20px
    label.error
        color: $white
        border-radius: 2px
        background: #d2664f
        display: inline-block
        margin: 5px 0 0 0
    .submit-btn
        margin: 0

.tag-lg-list
    width: 680px
    margin: -350px 0 0 -270px

//按鈕送出區塊&樣式 Style
.btn-area
    font-size: 16px
    text-shadow: 0 1px 1px #000
    letter-spacing: 2px
    padding: 10px 0
    input
        display: block
        width: 100%
        position: absolute
        margin: 0
        border: none
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        direction: ltr
        cursor: pointer
        z-index: 2
.btn
    color: $btn-text !important
    font-size: 14px
    display: inline-block
    position: relative
    padding: 8px 12px
    margin: 0 15px 0 0
    border-radius: 2px
    border: 0
    outline: none
    -webkit-appearance: none
    transition: .2s
    cursor: pointer
.btn-submit
    background: $btnLight
    &:hover
        background: darken($btnLight,10%)

.btn-function
    background: $fn-bg
    &:hover
        background: darken($fn-bg,10%)
.btn-blue
    background: $sub-b
    &:hover
        background: darken($sub-b,10%)
.btn-green
    background: $sub-g
    &:hover
        background: darken($sub-g,10%)
.btn-cancel
    background: #999
    &:hover
        background: darken(#999,10%)

//列表組件
.only-title
    width: 100%
    color: #555
    margin: 0
    li
        font-weight: bold
        width: 100%
        border-bottom: 2px solid #555
        &:hover
            background: none
.list
    width: 100%
    margin: 0 0 20px 0
    color: #555
    li.title
        font-weight: bold
        border-bottom: 1px solid #ccc
        &:hover
            background: none
    li
        width: 100%
        border-bottom: 1px dotted #ccc
        box-sizing: border-box
        &:hover
            background: $white
    img
        width: 100%
        display: block
.title
    i
        cursor: pointer
        &:hover
            color: $main-color
    i.act
        color: $main-color
.check-all-list
    label
        cursor: pointer
//排列組合（除了list，有配合其他功能）
.list-group
    margin: 0
.list-control
    text-align: right
    .btn
        margin: 0 0 0 15px
.list-input
    input[type="text"]
        width: 100%
        box-sizing: border-box

//資料列表
.data-box
    width: 700px
    border: 1px solid #ccc
    .list
        margin: 0
    li:last-child
        border: none
    .check-list label
        margin: 0
    .check-list span
        font-size: 14px

//圖像列表
.box-list
    overflow: hidden
    li
        margin: 0 8px 10px 0
        border: 2px solid #ccc
        transition: .2s
        cursor: pointer
        position: relative
        +dv
        &:hover
            border: 2px solid $main-color
        &:hover p
            background: $main-color
        &:hover .del
            display: block
	
    li.act //如果圖像列表有勾選狀態即使用.act
        border: 2px solid $main-color
        p
            background: $main-color
        .del
            display: block
    img
        display: block
    a
        width: 120px
        display: block
        img
            max-width: 100%
            max-height: 100%
            width: 100%
            height: 100%
    p
        color: $white
        text-align: center
        width: 100%
        background: #999
        height: 25px
        line-height: 25px
        transition: .2s

.del
    font-size: 20px
    color: $white
    text-align: center
    width: 30px
    height: 30px
    background: $main-color
    line-height: 29px
    position: absolute
    top: 0
    right: 0
    z-index: 1
    display: none
    cursor: pointer

//相片列表
.photo-list
    margin: 0 0 20px
    li
        border: 1px solid #ccc
        padding: 5px
        background: #eee
        margin: 0 10px 10px 0
        position: relative
        +dv
        transition: .3s
        &:hover
            border: 1px solid $main-color
    a
        width: 100%
        display: inline-block
        position: relative
    img
        width: 200px
        height: 133px
        object-fit: cover
        display: block
    p
        text-align: center

.del-photo
    width: 21px
    height: 21px
    background: url(../img/backend_img/pic_del.png) no-repeat
    position: absolute
    top: 10px
    right: 10px
    z-index: 10
    cursor: pointer
.video-list
    li
        width: 200px
        video
            width: 100%
            height: 100%
//展開收合列表
.unfold-list
    width: 100%
    margin: 0 0 20px 0
    color: #555

.unfold-item
    color: $main-color
    width: 100%
    background: #eee
    padding: 10px
    margin: 0 0 3px
    position: relative
    box-sizing: border-box
    cursor: pointer
    transition: .3s
    &:hover
        background: darken(#eee,5%)
    p
        font-size: 16px
    i
        font-size: 16px
        float: right
        display: block
        position: absolute
        right: 16px
        top: 11px
.unfold-item.fold-open
    background: darken(#eee,5%)
.unfold-cont
    padding: 8px
    background: #eee
    margin: -3px 0 3px 0
    .list
        margin: 0
    label
        font-size: 14px
        margin: 5px 5px 5px 0
            
//搜尋組件
.search-box
    width: 100%
    text-align: left
    background: #f2f2f2
    border: 1px solid #d0d0d0
    padding: 8px 0 0
    margin: 0 0 10px
    .btn-area
        background: #e5e5e5
        padding: 10px 0 8px 8px
        border-top: 1px solid #ccc

.search-ui-box
    margin: 0 12px 8px 8px
    +dv
    label
        +dv
    span
        +dv
    
.search-signle
    text-align: left
    background: #eee
    border: 1px solid #ddd
    padding: 8px 0 0
    margin: 0 0 10px
    .search-ui-box
        margin: 0 5px 8px 8px
    .btn-area
        padding: 0
        margin: 0 0 8px
        +dv

//輸入框組件
//Group有連結才會用這個包起來的群組
.group-box-70,.group-box-83,.group-box-85,.group-box-100
    padding: 10px 0
    +dv
    overflow: hidden
.group-box-15
    width: 15%
    +dv
.group-box-70
    width: 70%
    +dv
.group-box-83
    width: 83%
    +dv
.group-box-85
    width: 85%
    +dv
.group-box-100
    width: 100%

//一般群組
.box-5
    width: 5%
.box-8
    width: 8%
.box-10
    width: 10%
.box-12
    width: 12%
.box-14
    width: 14%
.box-15
    width: 15%
.box-16
    width: 16%
.box-20
    width: 20%
.box-25
    width: 25%
.box-30
    width: 30%
.box-35
    width: 35%
.box-40
    width: 40%
.box-45
    width: 45%
.box-50
    width: 50%
.box-55
    width: 55%
.box-60
    width: 60%
.box-65
    width: 65%
.box-70
    width: 70%
.box-75
    width: 75%
.box-80
    width: 80%
.box-85
    width: 85%
.box-90
    width: 90%
.box-95
    width: 95%
.box-5,.box-8,.box-10,.box-12,.box-14,.box-15,.box-16,.box-20,.box-25,.box-30,.box-35,.box-40,.box-45,.box-50,.box-55,.box-60,.box-65,.box-70,.box-75,.box-80,.box-85,.box-90,.box-95
    word-wrap: break-word
    padding: 0 0.5%
    box-sizing: border-box
    +dv

//.pad-u-d-10 = padding up & down is 10px
.pad-u-d-10
    padding: 10px 0
.opera
    text-align: center
    a
        padding: 0 3px
    i
        font-size: 15px
        color: #999
    i.red
        color: $fn-bg
        &:hover
            color: $fn-bg
    i:hover,i.act
        color: $link


//影音
.video
    margin: 10px 0 0
    display: block
    iframe
        border: 1px solid #ddd
        padding: 8px
        display: block

//upload image 上傳圖項
.upload-pic
    display: none
.upload-img-box
    +wh(150,150)
    label.error
        +topLeft(4,8,1)

.head-box
    +wh(200,200)
    label.error
        +topLeft(4,8,1)

.upload-box-sty
    border: 1px solid #ccc
    padding: 5px
    background: #eee url(../img/backend_img/upload.png) center no-repeat
    transition: .3s
    &:hover
        border: 1px solid $main-color

//上傳圖片的點擊範圍
.upload-click-area
    width: 100%
    height: 100%
    cursor: pointer
    img
        width: 100%
        height: 100%
        
//上傳檔案
.upload-form-file
    input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 1
        opacity: 0
        filter: alpha(opacity=0)
        -ms-filter: alpha(opacity=0)
        cursor: pointer
    .file-name
        color: #0071BE
        vertical-align: top
    .form-file
        width: 140px
        height: 32px
        line-height: 32px
    

.form-file
    text-align: center
    font-size: 16px
    text-shadow: 0 1px 1px #111
    color: $white
    width: 200px
    height: 40px
    line-height: 40px
    background: $btn
    margin: 0 10px 0 0
    display: inline-block
    position: relative
    overflow: hidden
    transition: background .2s
    &:hover
        background: darken($btn,10%)

.upload-form-file.form-file-green
    width: 100%
    height: auto
    padding: 0 0 10px
    border-bottom: 2px solid #ccc
    .form-file
        width: 100%
        height: auto
        margin: 0
        background: #2ec38c
        &:hover
            background: darken(#2ec38c,10%)
        i
            color: #176548
.file-name-green
    color: #2ec38c
    text-align: center
    padding: 8px 8px 0
    margin: 0
    display: block

.file-name
    color: $main-color
.form-file label
    margin: 0
    line-height: 28px
    position: absolute
    top: 0
    right: -129px

.pagination
    margin: 20px auto 100px
.pagination-numbers
    display: flex
    justify-content: center
    a
        color: #666
        text-shadow: 0px 1px 0px rgba(255,255,255,0.59)
        font-size: 13px
        display: inline-block
        position: relative
        margin: 0px 5px
        width: auto
        height: auto
        background: #ececec
        padding: 6px 10px
        border: 1px solid #d8d8d8
        border-bottom: 1px solid #ccc
        border-radius: 3px
        cursor: pointer
        box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.57)
        transition: .3s
    a:hover
        color: #888
        text-shadow: 0px 1px 0px rgba(255,255,255,0.69)
        box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20)
    a.act
        color: #696969
        text-shadow: 0px 1px 0px rgba(255,255,255,0.53)
        border: 1px solid #d2d2d2
        border-bottom: 1px solid #d8d8d8
        box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20)

//src Tag
.no-data
    color: #999
    padding: 10px 10px 20px

li.no-data
    padding: 5px 10px

.input-box .tag-src-area label
    display: inline-block

.tag-src-area
    display: flex
    justify-content: space-between
    align-items: center

.tag-src-box
    display: flex
    justify-content: flex-start
    align-items: center

.tag-input
    border: 1px solid #d0d0d0
    padding: 3px 5px
    background: rgba(#eee,0.7)

.tag-btn
    color: #fff
    padding: 3px 6px
    margin: 0 3px
    border-radius: 2px
    background: #999
    cursor: pointer
    &:hover
        background: darken(#999,10%)

.tag-btn.src
    background: $main-color
    &:hover
        background: darken($main-color,10%)

.tt-hint
    color: #999

.tt-menu
    width: 100%
    max-height: 120px
    padding: 3px
    border: 1px solid #999
    background: #fff
    box-sizing: border-box
    overflow: scroll

.tt-suggestion
    padding: 0 3px
    cursor: pointer
    &:hover
        color: #fff
        background: $main-color
//地圖
.map-box
    height: 100%
    padding: 80px 0 0 
    overflow: auto
    box-sizing: border-box
    overflow: hidden
    iframe
        display: block
.err-notic-box
    color: #fff
    width: 600px
    background: rgba(204,47,47,0.9)
    border-radius: 8px
    padding: 14px 20px
    position: absolute
    top: 55px
    right: 10px
    z-index: 2
    transform: translateX(102%)
    h2
        font-size: 20px
        margin: 0 0 5px
    p
        font-size: 16px
        background: #982121
        border-radius: 3px
        line-height: 1.6
        padding: 5px 10px
        margin: 0 0 5px
.map-notic-close
    font-size: 24px
    position: absolute
    top: 6px
    right: 20px
    z-index: 1
    cursor: pointer
    transition: .3s
    &:hover
        transform: scale(1.1)
.rightIn
    animation-name: slideRightIn
    animation-delay: 1s
    animation-duration: .6s
    animation-timing-function: ease-out
    animation-fill-mode: forwards
@keyframes slideRightIn
    0%
        transform: translateX(100%)
        opacity: 0
    100%
        transform: translateX(0)
        opacity: 1


//Siitech CSS
.main-box
    height: 100vh
    position: relative
    box-sizing: border-box
    z-index: 1
.maps-box
    width: 100%
    height: 100%
    box-sizing: border-box
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    iframe
        width: 100%
        height: 100%
    .leaflet-bar
        display: none

.sii-side-nav
    width: 160px
    overflow: hidden
    scroll-behavior: smooth
    position: fixed
    top: 60px
    left: 10px
    z-index: 11
    background: rgba(6,136,118,.75)
    border-radius: 5px
    box-sizing: border-box
    transition: .5s
    &.on
        width: 44px
        height: 44px
        border-radius: 44px
        background: rgba(6,136,118,1)
        overflow: hidden
        .menu
            top: 11px
            left: 11px
        .side-top-logo,.user-info,.side-btn-group
            opacity: 0
.side-top-logo
    width: 129px
    margin: 17px 15px 0px
    opacity: 1
    transition: .3s
.user-id
    font-size: 13px
    width: calc( 100% - 50px )
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    
.act-mask
    display: none
.side-btn-group
    width: 132px
    padding: 15px 14px 0
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    opacity: 1
    transition: .3s
.btn-side-box
    width: 60px
    height: 60px
    margin: 0 0 25px
    label
        width: 100%
        height: 100%
        background: none
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        cursor: pointer
        position: relative
        transition: .3s
        &:before
            content: ""
            display: block
            border-radius: 100%
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: -1
            background: rgba(255,255,255,0.1)
            transition: .3s
            display: none
        &:hover
            &:before
                display: block
        img
            position: relative
            z-index: 2
        input[type="checkbox"]
            outline: 0
            border: none
            border-radius: 0
            -webkit-appearance: none
            margin: 0
            padding: 0
            box-sizing: border-box

        input[type="checkbox"]:checked + .act-mask
            width: 100%
            height: 100%
            border-radius: 100%
            position: absolute
            top: 0
            left: 0
            z-index: 1
            background: #2E887C
            display: block
    p
        color: #fff
        font-size: 13px
        text-align: center
        position: absolute
        bottom: -6px
        z-index: 1


@media screen and (max-height: 820px)
    .btn-side-up-dow
        display: flex



.sii-top-nav
    width: 100%
    min-width: 1280px
    height: 43px
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    z-index: 10
    background: #02A18B
    box-sizing: border-box
    border-bottom: 3px solid #1C8B7C
.btn-top-box
    height: 34px
    padding: 6px 0 0
    float: left
    // &:hover
    //     border: 1px solid #fff
    
    label
        background: none
        line-height: 30px
        padding: 0 10px
        margin: 0 5px 0 0
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        position: relative
        box-sizing: border-box
        transition: .3s
        &:before
            content: ""
            display: block
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: -1
            background: rgba(255,255,255,0.1)
            border-radius: 50px
            transition: .3s
            display: none
        &:hover
            &:before
                display: block
        span
            color: #fff
            font-size: 14px
            display: block
            margin: 0 0 0 5px
        input[type="checkbox"]
            outline: 0
            border: none
            border-radius: 0
            -webkit-appearance: none
            margin: 0
            padding: 0
            box-sizing: border-box
        input[type="checkbox"]:checked + .act-mask
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            z-index: -1
            border-radius: 50px
            background: #2E887C
            display: block
.select-wrap
    height: 40px
    display: flex
    justify-content: flex-end
    align-items: center
.sel-group
    background: #fff
    display: flex
    justify-content: center
    align-items: center
    margin: 0 10px 0 0
    select
        max-width: 130px
        height: 28px
        padding: 0 20px 0 10px
        background: url(../img/icon_arrow_down.svg) no-repeat right center
        box-sizing: border-box
    input
        width: 120px
        padding: 0 0 0 10px
        box-sizing: border-box
.btn-setting
    width: 30px
    height: 28px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    margin: 0 0 0 4px
    &:hover
        background: #f3f3f3
//組件表單
/* siitech customer table */
.table-scroll
    width: 100%
    height: auto
    overflow-x: auto
    margin: 0 0 20px

.siitech-table
    font-size: 14px
    width: 100%
    border-left: 1px solid #ccc
    border-top: 1px solid #ccc
    margin: 0 0 15px 0

.siitech-table .select-sty
    width: auto
    min-width: 55px

.siitech-table th
    font-weight: bold
    background: #eee

.siitech-table th,.siitech-table td
    text-align: center
    border-right: 1px solid #ccc
    border-bottom: 1px solid #ccc
    padding: 5px

.tit
    h2
        color: #fff
        font-size: 16px
        line-height: 44px
        background: #1C8B7C
        padding: 0 12px
        position: relative
.ship-list
    width: 220px
    height: 100%
    padding: 40px 0 0
    background: #fff
    box-sizing: border-box
    position: absolute
    top: 0
    right: 0
    z-index: 4
    select
        font-size: 14px
        width: 100%
        height: calc(100% - 44px)
        padding: 10px
        box-sizing: border-box
.btn-close
    width: 44px
    height: 44px
    position: absolute
    top: 0
    right: 0
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: .3s
    &:hover
        background: #1d766a
.btn-unfold
    width: 44px
    height: 44px
    position: absolute
    top: 0
    right: 44px
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: .3s
    &:hover
        background: #1d766a
.position-box
    width: 600px
    height: calc(100% - 40px)
    background: #fff
    position: absolute
    top: 43px
    left: 0
    z-index: 12
    box-sizing: border-box
.side-use
    width: 300px
.inline-cont
    height: calc(100% - 64px)
    background: #F7F7F7
    display: flex
    justify-content: space-between
    // align-items: flex-start
    align-content: flex-start
    flex-wrap: wrap
    padding: 10px
    overflow-y: auto
    .sub-page
        width: 100%
    .input-box
        width: 49%
        margin: 0 0 20px
        label
            color: #177C8F
            font-size: 14px
            margin: 5px 5px 5px 0
    .input-box.w
        width: 100%
    textarea.input-box
        width: 100%
    h3
        font-size: 16px
        font-weight: 500
        width: 100%
        margin: 0 0 10px

.sub-checkbox
    cursor: pointer
    span
        font-size: 14px
        color: #555
    input[type="checkbox"]:checked + .check-boxs
        background: #0072C4
        img
            display: block

.check-boxs
    width: 18px
    height: 18px
    border: 1px solid #0072C4
    box-sizing: border-box
    display: inline-block
    vertical-align: middle
    margin: 0 3px 0 -5px
    img
        width: 16px
        height: 16px
        display: none

.btn-group
    width: 100%
    margin: 0 0 20px
    display: flex
    justify-content: space-between
    // align-items: flex-start
    align-content: flex-start
.right-bt
    .btn
        margin: 0 0 0 10px

// side manu position box
.side-position-box
    width: 200px
    height: auto
    background: #29BCA8
    padding: 12px
    border-radius: 10px
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
    position: absolute
    top: 90px
    left: 160px
    z-index: 11
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-content: flex-start
    flex-wrap: wrap
    label
        text-align: center
        padding: 8px
        cursor: pointer
        position: relative
        margin: 0 0 8px
        box-sizing: border-box
    
        min-height: 88px
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-content: center
        align-items: center
        span
            color: #fff
            font-size: 14px
            width: 100%
            line-height: 1.2
            display: block
    img
        display: block
        margin: 0 auto 5px
    input[type="checkbox"]:checked + .act-mask
        width: 100%
        height: 100%
        border-radius: 5px
        position: absolute
        top: 0
        left: 0
        z-index: -1
        background: #2E887C
        display: block
.side-position-box.two-col
    width: 200px
.two-col
    label
        width: 48%
    .btn
        width: 100%
        margin: 0
.input-ui-group
    width: 200px
    border-radius: 10px
    h2
        color: #fff
        font-size: 18px
        font-weight: 600
    .btn
        width: 100%
        padding: 8px 12px
        margin: 4px 0 0
.input-ui
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    align-content: flex-start
    flex-wrap: wrap
    border-bottom: 2px dotted #fff
    padding: 10px 0
    margin: 0 0 10px
    h3
        color: #fff
        font-size: 16px
        font-weight: 600
        width: 100%
        margin: 10px 0 10px
        display: block
        position: relative
    input
        width: 50px
        border: none
        padding: 3px 4px
        margin: 0 5px 5px
    input.ship-name
        width: 100%
    span
        color: #fff
        text-align: center
        margin: 0 0 5px
        box-sizing: border-box

.input-ui-res
    color: #fff
    margin: 0 0 15px
    i
        font-style: normal
    
//Latitude and longitude
.btn-change-dms
    font-size: 12px
    font-weight: 400
    width: auto !important
    padding: 3px 5px
    position: absolute
    top: -1px
    right: 0
    z-index: 1
.legend-group
    width: 300px
    h2
        color: #00F1FA
        font-size: 18px
        font-weight: 600
    li
        color: #fff
        &:hover
            background: none
        img
            text-align: center
            width: 50%

//page alarms events
.alarms-box
    height: 500px
    background: #fff
    position: absolute
    bottom: 20px
    left: 20px
    right: 20px
    z-index: 4
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    box-sizing: border-box
    .inline-cont
        justify-content: flex-start
        align-items: flex-end
    .list-group
        width: 100%
        min-width: 1520px
        overflow-x: auto
    .table-group
        font-size: 14px
        margin: 0 10px 0 0
        .table th
            font-weight: bold
        .table th, .table td
            padding: 5px
    .input-box
        width: 200px
        margin: 0 10px 10px 0
    .check-boxs
        margin: 0 5px 0 0
    .btn-cancel,.btn-submit
        margin: 0 10px 10px 0
    
.inline-other-set
    margin: 0 10px 10px 0
    .input-sty
        width: 50px
    .btn
        padding: 6px 10px
.mesg-green
    color: #60AFED

// new
// .del-ship-upload
//     text-align: center
//     width: 24px
//     height: 24px
//     line-height: 28px
//     background: #bbb
//     border-radius: 0 8px 0 0
//     position: absolute
//     top: 0
//     right: 0
//     z-index: 1
//     cursor: pointer
//     transition: .3s
//     &:hover
//         background: #999
.all-check
    text-align: right
    width: 100%
    margin: 10px 0 5px
    label
        cursor: pointer
    span
        display: inline-block
        vertical-align: middle
    input[type="checkbox"]
        width: 15px
        height: 15px
        opacity: 1
        display: inline-block
        vertical-align: middle
        margin: 0 auto
        -webkit-appearance: checkbox
.ship-list-upload
    width: 100%
    li
        margin: 0 0 8px
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        position: relative
        label
            width: 100%
            display: block
            margin: 5px 0 0
            display: flex
            flex-wrap: wrap
            justify-content: flex-start
            position: relative
            cursor: pointer
.item-group
    text-align: left
    width: 86%
    border-radius: 5px
    background: #eee
    padding: 8px
    box-sizing: border-box
    border-left: 5px solid transparent
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    position: relative
.control-item
    text-align: center
    width: 14%
    display: flex
    flex-wrap: wrap
    align-items: center
    align-content: center
    input[type="checkbox"]
        width: 15px
        height: 15px
        opacity: 1
        display: block
        margin: 0 auto
        -webkit-appearance: checkbox
    
.item-name
    font-weight: 600
    color: #333
    text-align: right
    width: 28%
    padding: 2px 0
    margin: 0 3% 0 0
.item-val
    color: #0cab70
    padding: 2px 0
    width: 69%
    img
        vertical-align: middle
.mar-b
    margin-bottom: 10px 

.popup-ship-info
    width: 520px
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    background: #fff
    border-radius: 10px
    position: absolute
    top: 200px
    right: 100px
    z-index: 3


.ol-popup .ov-pop-box-tit
    width: 100%
    height: 45px
    border-radius:10px 10px 0 0 
    border-bottom: 3px solid #0B4550
    overflow: hidden
    background: #177789
    box-sizing: border-box
    padding: 15px 36px 12px 10px
    margin: 0 0 8px
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: nowrap
    position: relative
    >img
        display: inline-block
        vertical-align: middle
        margin: 0 8px 0 0


.ol-popup .ov-pop-box-tit h2
    color: #fff
    font-size: 16px
    width: calc( 100% - 40px)
    line-height: 18px
    display: inline-block
    vertical-align: middle
.ol-popup .close-popup
    width: 42px
    height: 42px
    position: absolute
    right: 0
    top: 0
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    transition: .3s
    &:hover
        background: #1d8ca3
.ol-popup .close-popup img
    margin: 0
    display: inline-block
.ol-popup .popup-arrow
    width: 0
    height: 0
    border: 8px solid transparent
    border-top: 11px solid #fff
    position: absolute
    bottom: -18px
    left: 58px
    z-index: 1
.ol-popup .popup-arrow2
    width: 0
    height: 0
    border: 8px solid transparent
    border-top: 11px solid #fff
    position: absolute
    bottom: -18px
    left: 58px
    z-index: 1

.ship-MTNet
    width: 42px
    height: 42px
    position: absolute
    right: 42px
    top: 0
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    transition: .3s
    &:hover
        background: #1d8ca3

.ol-popup .ship-MTNet img
    margin: 0
    display: inline-block

#popup-content
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center

.popup-content-detial
    color: #555
    width: 50%
    line-height: 1.2
    background: #fff
    padding: 0 10px
    display: flex
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
    margin: 0 0 10px
    box-sizing: border-box
    h3
        color: #999
        text-align: right
        word-break: break-all
        margin: 0 5px 0 0
    p
        color: #111
.popup-btn-group
    display: flex
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
    a
        text-align: center
        height: 44px
        width: 25%
        background: #0071BE
        display: flex
        justify-content: space-around
        align-items: center
        transition: .3s
        &:hover
            background: #00538b
    a.act
        background: #00538b

//20210714新增
.sel-hours-panel
    width: 100%
    background: #fff
    width: 180px
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%)
    position: absolute
    right: 0
    bottom: -87px
    z-index: 1
    display: none
    &::after
        content: ''
        display: block
        width: 0
        border: 7px solid transparent
        border-bottom: 10px solid #fff
        position: absolute
        top: -15px
        right: 24px
        z-index: 1
    div
        text-align: right
        background: #fff
        border-bottom: 1px solid #ddd
        padding: 5px 10px
        transition: .3s
        cursor: pointer
        &:hover
            background: #eee



/** MTNet 跟AIS資料**/
.inline-cont.inline-cont-h
    height: calc(100% - 100px)
    position: relative
.inline-cont.inline-cont-ais
    height: calc(100% - 102px)
    position: relative
.tap-group
    color: #177C8F
    padding: 5px 12px 8px
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    background: #fff
    position: relative
    box-sizing: border-box
.btn-tab
    padding: 4px 0
    margin: 0 15px 0 0
    cursor: pointer 
    border-radius: 50px
    transition: .3s
    position: relative
    &:hover
        color: $main-color
        background: #fff
        &::after
            display: block
    &::after
        content: ''
        display: none
        position: absolute
        bottom: 1px
        left: 0
        z-index: 1
        width: 100%
        height: 3px
        background: #177C8F
.btn-tab.act
    &::after
        display: block
.sub-tab-group
    padding: 8px 10px
    background: #fff
    display: flex
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
    div
        font-size: 14px
        color: #999
        margin: 0 7px 0 0
        display: block
        border-bottom: 1px solid #fff
        cursor: pointer
        &:hover
            color: $main-color
            border-bottom: 1px solid $main-color
    div.act
        color: $main-color
        border-bottom: 1px solid $main-color
.info-group
    width: 100%
    background: #fff
    border-bottom: 1px solid #ccc
    padding: 8px
    margin: 0 0 10px
    h3
        font-size: 14px
        width: 100%
        border-bottom: 1px solid #eee
        padding: 5px 8px 5px 8px
        margin: -8px -8px 8px
        background: #177789
        color: #fff
    .list
        margin: 0
.data-group
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
.txt-group
    font-size: 13px
    width: 48%
    margin: 0 10px 8px 0
    display: flex
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
    box-sizing: border-box
    h4
        background: #e8f0f5
        font-weight: 600
        min-width: 120px
        padding: 3px 5px
        box-sizing: border-box
    p
        min-width: 120px
        box-sizing: border-box
        padding: 0 0 0 5px
        word-break: break-all
.txt-group-w
    width: 100%

//report btn
.report-btn-group
  margin: 50px auto 0

.report-btn-group .btn
  margin: 0 10px 0 0


//for ie11
@media all and (-ms-high-contrast:none)
    *::-ms-backdrop, .side-position-box label
        display: block

//cctv
.cctv-box
    width: 100%
    height: calc(100% - 80px)
    background: #fff
    position: absolute
    top: 80px
    left: 0
    z-index: 5
    box-sizing: border-box
    .btn
        vertical-align: middle


.inline-input-box
    display: inline-block
    vertical-align: middle
    margin: 0 2px 0 0
    label
        display: inline-block
        margin: 0 10px 0 0
    select
        width: auto
        padding: 0 26px 0 8px
        display: inline-block
    input
        width: auto
        display: inline-block
    .upload-form-file
        height: 32px
        line-height: 32px
    .form-file
        font-size: 14px
        width: 110px
        height: 32px
        line-height: 32px
    .note
        padding: 0
        margin: 0 0 8px
.cctv-list
    width: 100%
    ul
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-wrap: wrap
    li
        width: 24%
        border: 1px solid #ccc
        border-radius: 5px
        box-sizing: border-box
        padding: 8px
        margin: 0 1% 15px 0
        position: relative
        overflow: hidden
        &:hover
            border: 1px solid #013c82
            img
                transform: scale(1.1)


    a
        // background-position: center
        // background-repeat: no-repeat
        // background-size: cover
        // padding-bottom: 66.4%
        height: 220px
        background: #565656
        display: block
        transition: .3s
        overflow: hidden

    img
        width: 100%
        height: 100%
        object-fit: cover
        transition: .3s
.error-code
    font-size: 32px
    color: #ddd
    text-align: center
    position: absolute
    top: 38%
    left: 0
    right: 0
    z-index: 1
.live-box
    color: #fff
    padding: 4px 13px
    background: #e42626
    border-radius: 100px
    position: absolute
    top: 12px
    left: 12px
    z-index: 2
    &::before
        width: 10px
        height: 10px
        content: ''
        display: inline-block
        margin: 0 4px 0 0
        background: #fff
        border-radius: 50px
.no-live
    background: #999
    
.live-name
    color: #fff
    font-size: 16px
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1) )
    padding: 20px 10px 10px
    position: absolute
    bottom: 8px
    left: 8px
    right: 8px
    z-index: 2


//新增、編輯影音
.upload-group
    margin: 0 0 8px
.upload-plus
    margin: 0 0 0 66px
    
.upload-video-group
    width: 100%
    margin: 0 1% 0 0
    border: 1px solid #d0d0d0
    padding: 10px
    margin: 0 0 20px
    background: #eee
    border-radius: 3px
    box-sizing: border-box
    label
        color: #0072C4
        font-weight: bold
        font-size: 14px
        margin: 0px 5px 5px 0
    .note
        padding: 0
// .upload-photo-group
//     width: 100%
//     border: 1px solid #d0d0d0
//     padding: 10px
//     margin: 0 0 20px
//     background: #eee
//     border-radius: 3px
//     display: flex
//     justify-content: flex-start
//     align-items: center
//     flex-wrap: wrap
//     box-sizing: border-box
//     label
//         color: #0072C4
//         font-weight: bold
//         font-size: 14px
//         margin: 0px 5px 5px 0
//     .note
//         padding: 0
//     .photo-list
//         margin: 8px 0 0
.previews-photo
    background: #e6e6e6
    padding: 10px 10px 0 10px
    margin: 0
.upload-multiple
    margin: 0 20px 0 0
.photo-box,.video-box
    width: 100%
.tab-box
    width: 100%
    margin: 0 0 10px
    line-height: 28px
    span
        font-size: 14px
        color: #999
        padding: 0 10px
        display: inline-block
        vertical-align: top
        border: 1px solid #0071BE
        cursor: pointer
        &:hover
            color: #0071BE

    span.act
        font-size: 16px
        font-weight: 500
        color: #fff
        background: #0071BE
// 編輯相片名稱
.photo-list
    .input-sty
        background: #fff
//Lightbox slide photo
.photo-slide-lg
    background: rgba(0,0,0,0.6)
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: nowrap
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 99
.photo-slide-box
    width: 1000px
    background: #fff
    padding: 10px
    margin: 0 auto 10%
    position: relative
    overflow: hidden
    .swiper-pagination
        width: 100%
        bottom: 20px
    .swiper-button-next
        right: 30px
    .swiper-button-prev
        left: 30px
    .swiper-pagination-bullet
        margin: 0 5px
    .swiper-pagination-bullet
        background: #fff
        opacity: 1
    .swiper-pagination-bullet-active
        background: #111
.close-photo-lg
    font-size: 30px
    color: #fff
    text-align: center
    line-height: 40px
    width: 40px
    height: 40px
    background: #000
    position: absolute
    right: 20px
    top: 20px
    z-index: 2
    cursor: pointer
    transition: .3s
    &:hover
        background: rgba(0,0,0,0.4)
.photo-swiper
    width: 100%
    .swiper-slide
        background: #fff
.photo-item
    img
        width: 100%
        object-fit: cover
        display: block
.video-play
    width: 100%
    height: 100vh
    background: #555
    padding: 5% 0 0
.vidoe-area
    width: 80%
    max-width: 14400px
    padding: 10px
    margin: 0 auto
    h2
        font-size: 24px
        color: #eee
        margin: 0 0 5px
    video
        width: 100%
        padding: 10px
        background: #ddd
        display: block
/* 20210630 修改韶元套件 new*/
.upload-box
    form
        display: flex
        justify-content: flex-start
        align-items: center
        flex-wrap: nowrap
    .btn
        text-shadow: 0 1px 1px #000
        border-radius: 0
        height: 40px
        line-height: 40px
        padding: 0 10px
    p
        margin: 0 0 0 6px
.btn-upload
    background: #fff
    height: 40px
    line-height: 40px
    padding: 0 0 0 9px
    margin: 0

//即時通報修改
.tap-left-group
    width: 80%
    display: flex
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
.btn-notice
    padding: 4px 10px
    border-radius: 50px
    display: flex
    justify-self: flex-start
    align-items: center
    cursor: pointer
    transition: .3s
    &:hover
        background: #00538b
    &.act
        background: #00538b
    img
        width: 24px
        margin: 0 5px 0 0
//即時通報頁面
.notice-lightbox
    width: 100%
    height: 100%
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 200
    background: rgba(0,0,0,0.5)
    display: flex
    justify-content: center
    align-items: center
.notice-lightbox-cont
    width: 300px
    min-height: 200px
    background: #fff
    margin: 0 0 10%
    padding: 10px
    border-radius: 10px
    h2
        font-size: 22px
        text-align: center
        margin: 0 0 20px
    p
        text-align: center
    .prview-btn
        margin: 10px 0 0
        padding: 10px 0 0
.icon-post
    width: 50px
    height: 50px
    padding: 8px
    border-radius: 100px
    margin: 10px auto 10px
    background: #0071BE
    display: flex
    justify-content: center
    align-items: center
    img
        width: 80%
        

.notice-box
    width: 600px
    height: 500px
    background: #fff
    border-radius: 10px
    padding: 10px
    box-shadow: 0 0 20px rgba(0,0,0,0.5)
    position: absolute
    top: 160px
    left: 200px
    z-index: 4
    &::after
        display: block
        content: ''
        border: 7px solid transparent
        border-bottom: 10px solid #fff
        position: absolute
        top: -16px
        left: 55.3%
        z-index: 1
    .main
        padding: 0
        background: none
        h1
            font-size: 18px
            padding: 0 0 20px 0
            background: #fff url(../img/backend_img/title_line.png) 0 31px repeat-x
            position: sticky
            top: 0
            left: 0
            z-index: 2
    .input-sty
        padding: 5px 8px
        &::placeholder
            color: #bbb
    .inline-input-box
        width: 100%
        margin: 0 0 10px
        label
            margin: 0
        .input-sty.full-layout-input
            width: calc( 100% - 75px)
        .input-sty.w100
            width: 92px
    .inline-box
        display: inline-block
    .btn
        padding: 6px 10px
        margin: 0 5px
.btn-cancel-notice
    font-size: 14px
    color: #fff
    padding: 4px 8px
    border-radius: 4px
    background: #999
    position: absolute
    top: 0
    right: 0
    z-index: 1
    cursor: pointer
    transition: .3s
    &:hover
        background: #555
    img
        vertical-align: middle
        width: 11px
.sel-notice-option
    padding: 10px 0 0
    margin: 10px 0 10px
    border-top: 1px solid #ddd
    label
        display: inline-block
        padding: 4px
        margin: 0 5px 0 0
    .check-list
        margin: 0 0 15px
    input
        width: 470px
.notice-group
    .inline-input-box
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: nowrap
.prview-btn
    text-align: center
    border-top: 1px solid #ddd
    margin: 10px 0
    padding: 10px 0
    .btn
        margin: 0 5px

.prview-message
    background: #ffe6e6
    border: 1px solid #fda9a9
    padding: 8px 12px
    border-radius: 3px

// 船舶記事功能
.btn-note
    color: #fff
    font-size: 14px
    text-align: center
    width: 32px
    height: 32px
    line-height: 32px
    background: #063165
    border-radius: 50px
    position: fixed
    top: 90px
    right: 10px
    z-index: 1
    i
        cursor: pointer

.note-page
    width: 450px
    // max-height: 400px
    background: #fff
    border-radius: 10px
    padding: 10px
    box-shadow: 0 0 20px rgba(0,0,0,0.5)
    position: absolute
    top: 127px
    right: 10px
    z-index: 4
    &::after
        display: block
        content: ''
        border: 7px solid transparent
        border-bottom: 10px solid #fff
        position: absolute
        top: -16px
        right: 10px
        z-index: 1
    .main
        padding: 0
        background: none
        h1
            font-size: 18px
            padding: 0 0 20px 0
            margin: 0 0 10px
            background: #fff url(../img/backend_img/title_line.png) 0 31px repeat-x
            position: sticky
            top: 0
            left: 0
            z-index: 2
    .input-sty
        padding: 5px 8px
        &::placeholder
            color: #bbb
    .inline-input-box
        width: 100%
        margin: 0 0 10px
        label
            margin: 0
        .input-sty.full-layout-input
            width: calc( 100% - 75px)
        .input-sty.w100
            width: 92px
    .inline-box
        display: inline-block
    .btn
        padding: 6px 10px
        margin: 0 5px
.note-result
    width: 100%
    border-top: 1px solid #ddd
    padding: 10px 0 0
    margin: 10px 0
    .prview-btn
        margin: 0

.icon-shipwrecked
    width: 32px
    height: 32px
    line-height: 37px
    background: #063165
    position: absolute
    top: 0
    left: 0
    z-index: 1
    img
        width: 20px


.n-ti
    color: #fff
    display: inline-block
    padding: 4px 10px 3px
    background: #063165
    text-shadow: none
    font-weight: 500
    border-radius: 6px
    margin: 0 0 6px

.shipwrecked-page
    text-align: left
    width: 300px
    color: #555
    background: #fff
    border-radius: 10px
    padding: 10px 10px 0 10px
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
    position: absolute
    top: 30px
    left: 0px
    z-index: 4
    &::after
        display: block
        content: ""
        border: 7px solid transparent
        border-bottom: 10px solid #fff
        position: absolute
        top: -16px
        left: 9px
        z-index: 1
    .inline-input-box
        width: 100%
        margin: 0 0 10px
        label
            font-weight: 600
            margin: 0


    .inline-input-box 
        .input-sty.full-layout-input
            width: calc( 100% - 75px)

    .inline-input-box 
        .input-sty.w100
            width: 92px

    .inline-box
        display: inline-block
        vertical-align: top

    .btn
        padding: 6px 10px
        margin: 0 5px

.shipwrecked-dsc
    line-height: 1.6
    background: none

    .icon-shipwrecke
        background: #ff8c00


    .shipwrecked-pag
        display: block

.shipwrecked-satellit
    line-height: 1.6
    background: none

.shipwrecked-satellite 
    .icon-shipwrecke
        background: #C930A0

    &:hover 
        .shipwrecked-pag
            display: block


.icon-cctv-map
    width: 32px
    height: 32px
    line-height: 37px
    background: #063165
    border-radius: 100%
    padding: 2px 0 0
    position: absolute
    top: 0
    left: 0
    z-index: 1

    img
        width: 18px

// 手機版mt-net
.m-mtnet-box
    width: 100%
    height: calc(100% - 20px)
    top: 20px
    z-index: 20
    .tit
        h2
            border-radius: 20px 20px 0 0
    .inline-cont.inline-cont-h
        height: calc(100% - 64px)
        -webkit-overflow-scrolling: touch
    .txt-group
        width: 100%
        align-items: stretch
        h4
            display: flex
            align-content: center
            justify-content: flex-start
            align-items: center

//漁業署新增
.menu
    width: 20px
    height: 20px
    position: absolute
    top: 6px
    left: 6px
    z-index: 1
    transition: .4s
    cursor: pointer
    div
        width: 20px
        height: 3px
        background: #fff
        position: absolute
        top: 10px
        opacity: 0
        transition: .4s
    span
        width: 20px
        height: 3px
        display: block
        position: absolute
        top: 10px
        &::after
            content: ''
            display: block
            width: 20px
            height: 3px
            background: #fff
            position: absolute
            bottom: 0
            transform: rotate(135deg)
            transition: .4s
        &::before
            content: ''
            display: block
            width: 20px
            height: 3px
            background: #fff
            position: absolute
            top: 0
            transform: rotate(-135deg)
            transition: .4s
    &.on
        div
            opacity: 1
        span
            &::after
                bottom: -7px
                transform: rotate(0)
            &::before
                top: -7px
                transform: rotate(0)

.radio-input
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    label
        width: 100%
.radio-group
    margin: 0 15px 0 0
    cursor: pointer
    span
        font-size: 14px
        font-weight: normal
.in-out-result
    width: 100%
    h3
        color: #177C8F
        font-size: 14px
        padding: 0 0 10px
        margin: 5px 5px 5px 0
        border-bottom: 2px solid #177C8F

.layer-list-box
    width: 100%
    height: 500px
    overflow: auto
    h3
        color: #fff
        font-size: 15px
        font-weight: 500
        width: 100%
        background: url(../img/icon_arrow_down_w.svg) no-repeat right 4px bottom 16px
        padding: 30px 0 10px 0
    ul
        width: 100%
    li.group-tit
        padding: 0
        border-bottom: 2px solid #fff
    li
        display: flex
        justify-content: flex-start
        align-items: center
        border-bottom: 1px solid #fff
        padding: 0
    li.lv1
        padding: 0
    label
        color: #fff
        text-align: left
        width: calc(100% - 20px)
        min-height: auto
        padding: 8px 0 8px 10px
        margin: 0
        display: block
    input
        width: 14px
        height: 14px
        border: 1px solid #fff
        opacity: 1
        display: block
        // -webkit-appearance: checkbox
    input[type="checkbox"]:checked
        background-color: #1d8b7b
        




//RWD 手機版css 
@import mobile