input, select, textarea {
  font-size: 16px;
  color: #111;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::placeholder, select::placeholder, textarea::placeholder {
  color: #bbb;
}

/*Login page*/
.login-page-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/backend_img/pic_mask.png);
  z-index: 1;
}

.video-full-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.video-full-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.login-page-bg {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
  background: #1d587d url(../img/backend_img/bg.jpg) no-repeat center bottom/cover;
}

.Login form {
  display: block;
  height: 100%;
}

.loain-box {
  width: 90%;
  position: absolute;
  top: 20%;
  left: 5%;
}

.loain-box .select-sty {
  height: 42px;
}

.logo {
  width: 129px;
  height: 82px;
  background: url(../img/backend_img/backend_logo.svg) no-repeat center center/cover;
  position: absolute;
  top: -33px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.login {
  text-align: center;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(8, 143, 109, 0.7);
}

.login h1 {
  margin: 35px 15px 20px;
  color: #fff;
  font-size: 16px;
}

.login .input-box {
  width: 100%;
  margin: 0 auto 20px;
  position: relative;
  display: block;
}

.login .input-box br {
  display: none;
}

.login .input-box span {
  color: #555;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

.login .input-box i {
  font-size: 22px;
  color: #02A18B;
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 1;
}

.login label {
  padding: 8px 12px;
  border: none;
  display: block;
  position: absolute;
  top: 3px;
  right: 7px;
  z-index: 1;
  border: 1px solid #d2664f;
  background: #d2664f;
  border-radius: 3px;
}

.login label input[class~=input-sty] {
  font-size: 18px;
  padding: 10px 10px 10px 45px;
  z-index: 2;
}

.login label.error {
  color: #fff;
  margin: 1px 0 0;
}

.login .input-sty {
  padding: 10px 10px 10px 100px;
}

.login-error-mesg {
  color: #f00;
  padding: 0 25px;
}

.login-footer {
  color: #fff;
  text-align: center;
}

.login-btn-box {
  text-align: center;
  margin: 20px auto;
}

.login-submit-btn {
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background: #14717D;
  width: 100%;
  padding: 12px 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s;
}

.login-submit-btn:hover {
  background: #18616a;
}

.input-box .check-box-ui {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-box .check-box-ui label {
  color: #fff;
  font-size: 14px;
  position: relative;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
}

.check-box-ui input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
  border: 1px solid #ddd;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

.input-box.check-box-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.check-box-sb .check-box-ui span {
  position: static;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.check-box-sb .check-box-ui label {
  width: auto;
  padding: 0;
  margin: 0 0 5px 10px;
}

.tab-bar {
  width: 96%;
  background: rgba(2, 161, 139, 0.9);
  position: fixed;
  bottom: 8px;
  left: 2%;
  z-index: 9;
  border-radius: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: 0.6s ease-out;
  overflow: hidden;
}

.tab-bar a {
  text-align: center;
  width: 20%;
  height: 60px;
  text-decoration: none;
  display: block;
  padding: 9px 0 0;
  transition: 0.4s ease-in-out;
  box-sizing: border-box;
}

.tab-bar a.act {
  background: rgba(0, 0, 0, 0.2);
}

.tab-bar a.m-menu {
  width: 24%;
}

.m-icon-menu {
  padding: 20px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -34px auto -17px;
}

.tab-bar a.m-menu img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: -6px 0 0;
}

.tab-bar img {
  max-width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 0 4px;
}

.tab-bar p {
  color: #fff;
  font-size: 12px;
}

.more-fn {
  width: 100%;
  background: #006457;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  padding: 15px 0 90px;
  transform: translateY(100%);
  transition: 0.3s;
}

.main-tab-fn {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  overflow: hidden;
}

.filter-fn-box {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.filter-fn-box select {
  width: 100%;
  height: 40px;
  background: #fff url(../img/icon_arrow_down.svg) no-repeat right 10px center;
  padding: 0 10px;
  border: 1px solid #0071BE;
  margin: 0 0 20px;
}

.other-tab-fn {
  width: 100%;
  height: 80px;
  padding: 0 10px;
  box-sizing: border-box;
}

.other-tab-fn a {
  font-size: 13px;
  text-align: center;
  color: #fff;
  width: 23%;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.other-tab-fn img {
  margin: 0 0 8px;
}

.other-tab-fn p {
  width: 100%;
}

.other-tab-fn-cloum-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0 0 10px;
}

.other-tab-fn-cloum-1 a.act {
  background: rgba(0, 0, 0, 0.2);
}

.other-tab-fn-cloum-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0 0 10px;
}

.other-tab-fn-cloum-2 a {
  font-size: 13px;
  text-align: center;
  color: #fff;
  width: 25%;
}

.last-tab-fn-cloum {
  padding: 4px 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-m-sing-out {
  font-size: 16px;
  color: #fff;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.btn-m-sing-out img {
  margin: 0 0 0 8px;
}

.m-ship-info {
  width: 100%;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s ease-out;
}

.m-ship-tit {
  width: 100%;
  background: #1C8B7C;
  display: flex;
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
}

.m-ship-tit h2 {
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  padding: 0 0 0 10px;
  background: #1C8B7C;
}

.m-close-ship-info {
  font-size: 0;
  width: 40px;
  height: 40px;
  background: #0B4550 url(../img/icon_close.svg) no-repeat center center;
  border: none;
}

.ship-fn-btn {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  /* cursor: pointer; */
}

.btn-ship-mtnet {
  margin: 0;
}

.icon-ship-mtnet {
  width: 44px;
  height: 44px;
  padding: 5px;
  margin: 0 auto 3px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #0a4550;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-ship-mtnet img {
  width: 28px;
  display: block;
}

.btn-ship-mtnet p {
  color: #111;
  font-size: 12px;
  text-align: center;
}

.btn-ship-track {
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.btn-ship-track p {
  color: #111;
  font-size: 12px;
  width: 100%;
}

.ship-track-sel {
  width: calc( 100% - 46px);
  height: 42px;
  border: 1px solid #0a4550;
  border-radius: 0 5px 5px 0;
  margin: 0 0 3px;
  background: none;
  overflow: hidden;
}

.ship-track-sel select {
  border: none;
  font-size: 16px;
  padding: 0 0 0 10px;
  background: #fff url(../img/icon_arrow_down.svg) no-repeat right 10px center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.icon-ship-track {
  width: 44px;
  height: 44px;
  padding: 5px;
  margin: 0 0 3px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  background: #0a4550;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}

.icon-ship-track img {
  width: 32px;
  display: block;
}

.m-cont-page {
  padding: 0 20px 90px;
  background: #fff;
  min-height: calc(100% - 40px);
  box-sizing: border-box;
  height: 340px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.m-cont-find {
  /* height: 100% */
  padding: 10px 20px 90px;
  -webkit-overflow-scrolling: touch;
}

.m-cont-val {
  padding: 10px 0 0;
}

.m-cont-val .ShipInfoTable {
  font-size: 16px;
  color: #111;
  padding: 0;
  border: none !important;
}

.m-cont-val .ShipInfoTable td {
  padding: 6px 0;
}

.m-cont-val #tblInfo td {
  font-size: 16px;
  width: auto;
  border: none;
  border-bottom: 1px solid #ddd;
}

.ShipInfoTable td:first-child + td {
  font-size: 16px;
  width: auto;
  padding: 6px 0;
}

.m-name-list-page {
  width: 100%;
  min-height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  border-radius: 20px 20px 0 0;
  background: #fff;
  transition: 0.4s ease-out;
}

.m-pagination-box {
  background: #fff;
  padding: 10px 20px;
  margin: 0 -20px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.m-pagination {
  font-size: 16px;
  color: #fff;
  background: #0a4550;
  border-radius: 40px;
  height: 44px;
  line-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.m-pagin-num {
  text-align: center;
  letter-spacing: 2px;
  width: 100px;
  font-weight: 600;
}

.m-pagination input {
  color: #fff;
  font-size: 0;
  font-family: auto;
  width: 44px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 40%;
  border: none;
  cursor: pointer;
}

.m-pagination input.m-prev {
  background-image: url(../img/icon_arrow_prev.svg);
  background-size: 23%;
}

.m-pagination input.m-next {
  background-image: url(../img/icon_arrow_next.svg);
  background-size: 23%;
}

.m-pagination input.m-prev-first {
  background-image: url(../img/icon_arrow_prev_first.svg);
  margin: 0 0 0 10px;
}

.m-pagination input.m-next-last {
  background-image: url(../img/icon_arrow_next_last.svg);
  margin: 0 10px 0 0;
}

.ShipNameList {
  font-size: 16px;
  height: 200px;
  border: none;
}

.ShipNameList li:first-child a {
  border: none;
  border-bottom: 1px solid #bbb;
}

.ShipNameList li:last-child a {
  border: none;
}

.ShipNameList li a {
  border: none;
  background: none;
  border-bottom: 1px solid #bbb;
  color: #111;
  font-weight: 500;
  padding: 12px 0;
}

.input-box {
  width: 100%;
  margin: 0 0 10px;
}

.input-box label {
  font-size: 16px;
  font-weight: 600;
  color: #177C8F;
  width: 100%;
  display: block;
  margin: 0 0 2px;
}

.input-box input {
  color: #111;
  font-size: 15px;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.submit-box {
  width: 100%;
}

.submit-box input {
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  background: #0B4550;
  border: none;
  border-radius: 0;
}

.m-icon-clear {
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 51px;
  border-radius: 100px;
  background: #0071be url(../img/icon_m_menu_close.svg) no-repeat center center/20px;
  position: absolute;
  bottom: 80px;
  right: 10px;
  z-index: 1;
}

/* mobile mt-net */
.position-box {
  width: 600px;
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 4;
  box-sizing: border-box;
  overflow: hidden;
}

h2 {
  color: #fff;
  font-size: 16px;
  line-height: 44px;
  background: #2F527E;
  padding: 0 12px;
  position: relative;
}

.btn-close {
  width: 44px;
  height: 44px;
  position: absolute;
  background: #0B4550;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

/* .btn-close:hover {
  background: #054875;
} */

.sub-tab-group {
  padding: 5px 10px 2px;
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sub-tab-group div {
  font-size: 13px;
  color: #999;
  padding: 5px 0 2px;
  margin: 0 7px 5px 0;
  display: block;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.sub-tab-group div:hover {
  color: #0071BE;
  border-bottom: 1px solid #0071BE;
}

.sub-tab-group div.act {
  color: #0071BE;
  border-bottom: 1px solid #0071BE;
}

.inline-cont {
  height: calc(100% - 64px);
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  overflow-y: auto;
}

.inline-cont .sub-page {
  width: 100%;
}

.inline-cont .input-box {
  width: 49%;
  margin: 0 0 20px;
}

.inline-cont .input-box label {
  color: #0072C4;
  font-size: 14px;
  margin: 5px 5px 5px 0;
}

.inline-cont .input-box.w {
  width: 100%;
}

.inline-cont textarea.input-box {
  width: 100%;
}

.inline-cont h3 {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: 0 0 10px;
}

.inline-cont.inline-cont-h {
  height: calc(100% - 144px);
  position: relative;
}

.info-group {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  margin: 0 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.info-group h3 {
  font-size: 14px;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 5px 8px 5px 8px;
  margin: -8px -8px 8px;
  background: #177789;
  color: #fff;
}
.info-group .list {
  font-size: 11px;
  width: 100%;
  margin: 0;
}
.info-group .list li.title {
  font-weight: 500;
}

.txt-group {
  font-size: 13px;
  width: 240px;
  margin: 0 10px 8px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.txt-group h4 {
  background: #e8f0f5;
  font-weight: 600;
  min-width: 120px;
  padding: 3px 5px;
  box-sizing: border-box;
}
.txt-group p {
  font-size: 13px;
  min-width: 120px;
  box-sizing: border-box;
  padding: 0 0 0 5px;
  word-break: break-all;
}

.txt-group-w {
  width: 100%;
}

.group-box-70, .group-box-83, .group-box-85, .group-box-100 {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.group-box-15 {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-70 {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-83 {
  width: 83%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-85 {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-100 {
  width: 100%;
}

.box-5 {
  width: 5%;
}

.box-8 {
  width: 8%;
}

.box-10 {
  width: 10%;
}

.box-12 {
  width: 12%;
}

.box-14 {
  width: 14%;
}

.box-15 {
  width: 15%;
}

.box-16 {
  width: 16%;
}

.box-20 {
  width: 20%;
}

.box-25 {
  width: 25%;
}

.box-30 {
  width: 30%;
}

.box-35 {
  width: 35%;
}

.box-40 {
  width: 40%;
}

.box-45 {
  width: 45%;
}

.box-50 {
  width: 50%;
}

.box-55 {
  width: 55%;
}

.box-60 {
  width: 60%;
}

.box-65 {
  width: 65%;
}

.box-70 {
  width: 70%;
}

.box-75 {
  width: 75%;
}

.box-80 {
  width: 80%;
}

.box-85 {
  width: 85%;
}

.box-90 {
  width: 90%;
}

.box-95 {
  width: 95%;
}

.box-5, .box-8, .box-10, .box-12, .box-14, .box-15, .box-16, .box-20, .box-25, .box-30, .box-35, .box-40, .box-45, .box-50, .box-55, .box-60, .box-65, .box-70, .box-75, .box-80, .box-85, .box-90, .box-95 {
  word-wrap: break-word;
  padding: 0 ;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.pad-u-d-10 {
  padding: 10px 0;
}

.opera {
  text-align: center;
}
.opera a {
  padding: 0 3px;
}
.opera i {
  font-size: 15px;
  color: #999;
}
.opera i.red {
  color: #DD6262;
}
.opera i.red:hover {
  color: #DD6262;
}
.opera i:hover, .opera i.act {
  color: #177C8F;
}

.table-scroll {
  width: 100%;
  height: auto;
  overflow-x: auto;
  margin: 0 0 20px;
  -webkit-overflow-scrolling: touch;
}

.siitech-table {
  font-size: 14px;
  width: 100%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0 0 15px 0;
}

.siitech-table .select-sty {
  width: auto;
  min-width: 55px;
}

.siitech-table th {
  font-weight: bold;
  background: #eee;
}

.siitech-table th, .siitech-table td {
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.m-mtnet-box {
  width: 100%;
  height: 384px;
  top: auto;
  bottom: 0;
  z-index: 7;
  transition: 0.4s ease-out;
}

.m-mtnet-box h2 {
  border-radius: 20px 20px 0 0;
  background: #1c8b7c;
  overflow: hidden;
}

.m-mtnet-box .inline-cont.inline-cont-h {
  height: calc(100% - 220px);
  padding: 11px 10px 100px;
  -webkit-overflow-scrolling: touch;
}

.m-mtnet-box .txt-group {
  font-size: 15px;
  width: 100%;
  align-items: stretch;
}

.m-mtnet-box .txt-group h4 {
  font-size: 13px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.tap-group {
  color: #177C8F;
  width: 100%;
  padding: 7px 12px 10px;
  
  background: #fff;
  position: relative;
  box-sizing: border-box;
}
.tap-left-group{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.btn-tab {
  font-size: 14px;
  padding: 4px 0 7px;
  margin: 0 15px 0 0;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
}
.btn-tab:hover {
  color: #177C8F;
  background: #fff;
}
.btn-tab:hover::after {
  display: block;
}
.btn-tab::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 3px;
  background: #177C8F;
}

.btn-tab.act::after {
  display: block;
}

/* loading */
.loading-box {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.4s;
}

.loading-box.on {
  visibility: visible;
  opacity: 1;
}

.loading-txt p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-height: 400px) {
  .m-ship-info {
    height: 100%;
  }

  .m-cont-find {
    padding: 20px 20px 130px;
  }
}
